---
layout: splash
excerpt: "A Non-Governmental Organization based in the District of Baksa, Assam"

header:
  # image: /assets/images/main.jpg
  overlay_image: /assets/images/main.jpg
  overlay_filter: 0.5
  # caption: "Photo credit: [**ABCD**](https://unsplash.com)"
  actions:
    - label: "About"
      url: "/about/index.html"

#Feature row in homepage https://mmistakes.github.io/minimal-mistakes/docs/helpers/
#gallery:
#  - url: /assets/images/500x300.png
#    image_path: /assets/images/EPIC.jpg
#    alt: "placeholder image 1"
#    title: "Image 1 title caption"
#  - url: /assets/images/500x300.png
#    image_path: /assets/images/EPIC.jpg
#    alt: "placeholder image 2"
#    title: "Image 2 title caption"
---

<!--{% include figure image_path="/assets/images/main.jpg" alt="this is a placeholder image" caption="" %}-->

<!--{% include gallery caption="This is a sample gallery with **Markdown support**." %}-->

